@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');


body {
    overflow-x: hidden; 
}


* {
    box-sizing: border-box; 
}
.logo-font {
    font-family: 'Dancing Script', cursive; 
}
.main-font{
    font-family: 'Manrope', sans-serif;
}
.hero-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/assets/images/hero.bg.jpg');
    background-size: cover;
    background-position: center;
}

